.title {
    font-size: 70px;
    text-align: center;
    color: #fffff3;
    margin-bottom: 40px;
}

.mode-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
}

.mode-select-title {
    font-size: 45px;
}

.mode-select-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.genre-mode {
    margin-top: 40px;
}

.select {
    font-size: 35px;
}

.mode-button {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 20px;
    color: #fffff3;
    cursor: pointer;
    background-color: #cbcbcb35;
}

.mode-button:hover {
    opacity: 0.8;
    transform: scale(0.98);
}

.mode-button:active {
    transform: scale(0.94);
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.loading-message {
    color: black;
    font-size: 35px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.score {
    font-size: 30px;
    color: #fffff3;
    text-align: right;
}

.game-question {
    font-size: 35px;
    color: black;
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.exit {
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #fffff3;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
}

.exit:hover {
    opacity: 0.4;
    transform: scale(0.98);
}

.exit:active {
    transform: scale(0.94);
}

.page-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
}

.left-side, 
.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    background-color: #cbcbcb35;
    border: solid 2px black;
    border-radius: 50px;
    padding: 30px;
    color: #fffff3;
    cursor: pointer;
}

.left-side:hover, 
.right-side:hover {
    opacity: 0.8;
    transform: scale(0.98);
}

.left-side:active, 
.right-side:active {
    transform: scale(0.94);
}

.left-side img, 
.right-side img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 32vh;
    height: 32vh;
}

.artist-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.artist-info h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.artist-info p {
    font-size: 24px;
}

.user-message {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #fffff3;
}

@media (max-width: 768px) {
    .title {
        font-size: 45px;
    }

    .header {
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .game-question {
        font-size: 22px;
        text-align: center;
    }

    .score {
        font-size: 22px;
        text-align: center;
    }

    .page-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .left-side,
    .right-side {
        width: 60vw;
        height: 40vh;
    }

    .left-side img,
    .right-side img {
        width: 46vw;
        height: 46vw;
    }

    .artist-info h1 {
        font-size: 14px;
    }

    .artist-info p {
        font-size: 11px;
    }

    .mode-popular, .mode-emo {
        width: 200px;
        font-size: 24px;
    }

    .mode-select-title {
        font-size: 30px;
        text-align: center;
    }

    .normal-select, .genre-select {
        font-size: 24px;
        text-align: center;
    }

    .user-message {
        font-size: 22px;
    }
}